<ion-header >
  <ion-navbar color="sblue">
    <ion-title>
      Education
    </ion-title>
  </ion-navbar>
  <ion-toolbar color="sblue">
     <ion-searchbar color="white"></ion-searchbar>
  </ion-toolbar>



<ion-toolbar no-border-top color="sblue">
    <ion-segment [(ngModel)]="edu">
      <ion-segment-button value="terms">
        Terms
      </ion-segment-button>
      <ion-segment-button value="procedures">
        Procedures
      </ion-segment-button>
      <ion-segment-button value="well-being">
        Well-being
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

</ion-header>



<!--  
<ion-content class="alpha-list-page">
      <ion-alpha-scroll *ngIf="breeds"
        [listData]="breeds"
        key="name"
        [itemTemplate]="alphaScrollItemTemplate"
        [currentPageClass]="currentPageClass"
        [triggerChange]="triggerAlphaScrollChange">
      </ion-alpha-scroll>
</ion-content>
-->

 
  <!-- <ion-item-group *ngSwitchCase="'terms'">
      <ion-item-divider color="light">A</ion-item-divider>
      <button ion-item detail-none (click)="buttonClick1()">
          Aadffga
      </button>
      <p>{{content1}}</p>
      <button ion-item detail-none (click)="buttonClick2()">
          Afgsartsda
      </button>
      <p>{{content2}}</p>
      <button ion-item detail-none (click)="buttonClick3()">
          Aetef
      </button>
      <p>{{content3}}</p>
  </ion-item-group>
 -->

<ion-content class="alpha-list-page">
  <div [ngSwitch]="edu">

    <ion-item-group *ngSwitchCase="'terms'" >
        <ion-alpha-scroll *ngIf="breed_terms"
          [listData]="breed_terms"
          key="name"
          [itemTemplate]="alphaScrollItemTemplate"
          [currentPageClass]="currentPageClass"
          [triggerChange]="triggerAlphaScrollChange">
        </ion-alpha-scroll>
    </ion-item-group>

    <ion-item-group *ngSwitchCase="'procedures'">
        <ion-alpha-scroll *ngIf="breed_procedures"
          [listData]="breeds"
          key="name"
          [itemTemplate]="alphaScrollItemTemplate"
          [currentPageClass]="currentPageClass"
          [triggerChange]="triggerAlphaScrollChange">
        </ion-alpha-scroll>
      </ion-item-group>

      <ion-item-group *ngSwitchCase="'well-being'">
       <ion-alpha-scroll *ngIf="breed_wellbeing"
          [listData]="breeds"
          key="name"
          [itemTemplate]="alphaScrollItemTemplate"
          [currentPageClass]="currentPageClass"
          [triggerChange]="triggerAlphaScrollChange">
        </ion-alpha-scroll>
      </ion-item-group>

  </div>
</ion-content>
